<h1> ะัะธะฒะตั, <%= @user.nick %>! ๐โงโแดฅโโฆ </h1>

<p>
  ะกะฟะฐัะธะฑะพ ะทะฐ ัะตะณะธัััะฐัะธั. ะงัะพะฑั ะฟัะพะดะพะปะถะธัั, ะฟะตัะตะนะดะธ ะฟะพ ัััะปะบะต ะฝะธะถะต :)
  <br/>
  <%= link_to 'ะะพะดะฒะตัะดะธัั', confirm_email_user_url(@user.confirm_token, email: @user.email) %>
</p>