<div id="<%= dom_id task %>" class="task">

  <input class="form-check-input" type="checkbox">
  <strong>Title:</strong>
  <%= task.title %>
  <br/>
  <strong>Due:</strong>
  <%= task.due %>
  <% if user_signed_in?%>
    <strong>User id:</strong>
    <%= task.user_id %>
  <%end%>

</div>
