<h1>New task</h1>
<%= render "form", task: @task %>
<br>
<div>
  <%= link_to "Back to tasks", tasks_path, class: 'btn btn-outline-secondary' %>
</div>


<div id = "1234"><h1>Hallow</h1></div>
<%=button_to " ", refresh_path, style: "height:25px;width:25px;border-radius:20px;" %> 