<div id="<%= dom_id @friendship %>" class = "friend">
    <% @user = User.find(second_user(@friendship.friend1, @friendship.friend2))%>
    <p>
    <strong><%=t(:nick)%>:</strong>
    <%= @user.nick %>
    </p>
    <p>
    <%= link_to t(:show_this_friend), @user%>
</p>
</div>