
  <%if !@requests.empty?%>
  <h1>New friend requests!</h1>
    <% @requests.each do |request| %>
      <div id="<%= dom_id request %>" class = "request">
        <% @user = User.find(request.who_sent_request)%>
        <p>
          <strong>Nick:</strong>
          <%= @user.nick %>
        </p>
        <div class = "buttons_near">
          <%= render "friends/accept_request", locals: {friend_2: @user.id, friend_1: current_user.id} %>
          <%= render "friends/decline_request", locals: {friend_2: @user.id, friend_1: current_user.id} %>
        </div>
      </div>
    <% end %>
    <%end%>