<h1>Here you can see other users' progress and compare with your</h1>
<%=link_to "Compete with my friends", 'friends_competitions', class: 'btn btn-outline-primary'%>
<%= bar_chart @completed_tasks.count%>
