<h1><%=t(:all_friends_competitions)%></h1>
<%=link_to t(:compete_with_all_users_button), 'all_competitions', class: 'btn btn-outline-primary', id: "compete_with_all"%>
<%= bar_chart @completed_tasks.count%>