/* .simple-calendar {

.day {}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {}

.prev-month {}
.next-month { }


} */

.simple-calendar
{
    background-color: rgb(199, 217, 255);
}
.simple-calendar .day
{
    background-color: rgb(199, 217, 255);
    height: 130px;
}
.simple-calendar .has-events
{
    background-color: rgb(241, 195, 249);
}
.simple-calendar .today
{
    background-color: rgb(168, 180, 246);
}
.simple-calendar .prev-month, .simple-calendar .next-month 
{
    font-style: italic;
    background-color: rgb(225, 228, 232);
}
