.task 
{
    font-size: 20px;
    margin: 22px 50px;
    background-color: rgb(219, 196, 254);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    width: 700px;
}
.task:hover
{
    background-color: rgb(199, 168, 241);
    font-size: 23px;
    margin: 15px 45px;
}
.link
{
    font-size: 20px;
    color: black;
    margin: 5px;
}
.task p
{
  margin: 0px 20px;
}
details {
    border: 1px solid rgb(103, 127, 215);
    border-radius: 20px;
    padding: .5em .5em 0;
    margin: 20px 50px;
    width: 700px;
}
details .task
{
  width: 600px;
}
summary {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid  rgb(103, 127, 215);
    margin-bottom: .5em;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


  #completed_time_options
  {
    width: 150px;
  }
.btn_instead_of_checkbox
{
  height:25px;
  width:25px;
  border-radius:20px;
}
.btn_instead_of_checkbox:hover
{
  background-color: #6673bb;
}
.btn_instead_of_checkbox_return
{
  height:25px;
  width:25px;
  border-radius:20px;
}
.btn_instead_of_checkbox_return:hover
{
  background-color: #bc124b;
}
.task_show
{
  font-size: 20px;
}